.favorite-card {
  animation: fadeIn 0.8s ease-in;
}

/* animation bonus */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.favorite-card {
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: var(--card-col);
  max-width: 100%;
}

.favorite-card-content {
  position: relative;
  text-align: center;
  color: var(--font-color);
  z-index: 1;
  padding: 10px;
}

.favorite-weather-day,
.favorite-weather-temperature,
.favorite-weather-description {
  margin: 5px 0;
  font-size: 1rem;
}

.favorite-weather-day {
  font-weight: bold;
}
