.forecast-card {
  animation: fadeIn 0.5s ease-out;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  min-width: 150px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--card-col);
}

.card-content {
  position: relative;
  text-align: center;
  color: var(--font-color);
}

.weather-day,
.weather-temperature {
  margin: 10px;
}

.weather-day {
  font-size: 1.2rem;
  font-weight: bold;
}

.weather-temperature {
  font-size: 1.25rem;
}

/* animation bonus */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .forecast-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 10px;
  }

  .card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .weather-day,
  .weather-temperature {
    text-align: right;
    margin: 0;
  }

  .weather-day {
    font-size: 3.3rem;
    order: 1;
  }

  .weather-temperature {
    font-size: 2.5rem;
    order: 3;
  }

  img {
    width: 150px;
    height: auto;
    order: 2;
  }
}
