/* .WeatherDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.SearchField {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin-bottom: 20px;
} */
