.current-weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  padding: 10px;
}
.weather-header {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #072b41;
  font-weight: bold;
}

p {
  color: #072b41;
  font-size: 1.2rem;
}

.weather-icon-temp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.current-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.favorites {
  display: flex;
  align-items: center;
}

.favorites button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #74a7de;
  color: #072b41;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.favorites button:hover {
  background-color: #507dac;
}

.favorites .favorite-active {
  background-color: #db8787;
  color: #411007;
}

.description {
  position: relative;
  padding-bottom: 20px;
}

.description::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #507dac;
  box-shadow: 0px 1.7px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/* .current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-header {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #072b41;
}

.weather-content {
  display: flex;
  align-items: flex-start;
}

.icon-container {
  border: 3px solid #507dac;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.icon-weather {
  width: 150px;
  height: 80px;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.city-name {
  font-weight: bold;
}

.temperature {
  font-size: 1.2em;
}

.weather-description {
  font-style: italic;
} */
