.current-weather {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 800px; 
    padding: 10px;
  }
  

.current-data {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.favorites {
    display: flex;
    align-items: center; 
}

.favorites Button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #74a7de;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 70px;
    
}
.favorites button:hover {
    opacity: 0.8;
}
