/* :root {
  --font-color: #072b41;
  --bg-img-col1: lightblue;
  --bg-img-col2: white;
  --cont-col: #f8f8f0;
  --card-col: #dfdfd8;
}

body.dark-mode-override {
  --font-color: white;
  --bg-img-col1: black;
  --bg-img-col2: #262626;
  --cont-col: #4f4f4f;
  --card-col: #363636;
}

html,
body,
#root {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    var(--bg-img-col1),
    var(--bg-img-col2)
  );
  font-family: "Secular One", sans-serif;
}

button {
  font-family: "Secular One", sans-serif;
} */
